@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --mainColor4: #504f4f;
    --mainColor2: #504f4f;
    --mainColor3: #03191e;
    --mainColor: #212121;
}

body {
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Rubik";
    margin: 0;

}


.box {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--mainColor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    animation: ani 3s cubic-bezier(0.16, 1, 0.3, 1) .5s forwards;
    -webkit-animation: ani 3s cubic-bezier(0.16, 1, 0.3, 1) .5s forwards;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    /* Ajusta este valor según tu necesidad */
}

.box:hover {
    box-shadow: 0 0 50px #7cfcb5;
}



@keyframes ani {
    0% {
        width: 60px;
        height: 60px;
        background-color: var(--mainColor);

    }

    25% {
        width: 60px;
        height: 60px;
        background-color: var(--mainColor4);

    }

    50% {
        width: 60px;
        height: 280px;
        background-color: var(--mainColor4);

    }

    100% {
        width: 550px;
        height: 400px;
        background-color: var(--mainColor4);

    }
}

/* Border */
.box span:not(span:nth-child(5)) {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.box span:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #7cfcb5;
    top: 0;
    left: -100%;
    animation: border1 1s 3s forwards;
    -webkit-animation: border1 1s 3s forwards;
}

.box span:nth-child(2) {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #7cfcb5;
    top: -100%;
    right: 0;
    animation: border2 1s 3.25s forwards;
    -webkit-animation: border2 1s 3.1s forwards;
}

.box span:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #7cfcb5;
    bottom: 0;
    left: 100%;
    animation: border3 1s 3.5s forwards;
    -webkit-animation: border3 1s 3.2s forwards;
}

.box span:nth-child(4) {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #7cfcb5;
    top: 100%;
    left: 0;
    animation: border4 1s 3.75s forwards;
    -webkit-animation: border4 1s 3.3s forwards;
}

.box span:nth-child(5) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, #3adfeb, transparent);
    top: 0;
    right: 100%;
    opacity: 0.05;
    animation: border5 4s 4s forwards infinite;
    -webkit-animation: border5 4s 4s forwards infinite;
}

@keyframes border1 {
    to {
        top: 0;
        left: 100%;
    }
}

@keyframes border2 {
    to {
        top: 100%;
        right: 0;
    }
}

@keyframes border3 {
    to {
        bottom: 0;
        left: -100%;
    }
}

@keyframes border4 {
    to {
        top: -100%;
        left: 0;
    }
}

@keyframes border5 {
    to {
        top: 0;
        right: -100%;
    }
}

.title {
    width: 500px;
    font-size: 40px;
    color: #fff;
    animation: title 1s 3s forwards;
    -webkit-animation: title 1s 3s forwards;
    opacity: 0;
}

@keyframes title {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Background */

.bg {
    position: absolute;
    z-index: -99;
}

.bg span:nth-child(1) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #7cfcb5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: bg1 1s infinite alternate;
    -webkit-animation: bg1 4s infinite alternate;
    top: -500px;
    left: -400px;
    box-shadow: 0 0 50px #7cfcb5;
    opacity: .1;
    filter: blur(100px);
    -webkit-filter: blur(100px);
}


.bg span:nth-child(2) {
    position: absolute;
    width: 1000px;
    height: 50px;
    background-color: #7cfcb5;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    left: -530px;
    top: -25px;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    opacity: .1;
}

.bg span:nth-child(3) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #7cfcb5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -500px;
    right: -400px;
    box-shadow: 0 0 50px #7cfcb5;
    opacity: .1;
    filter: blur(100px);
    -webkit-filter: blur(100px);
    animation: bg2 4s infinite alternate;
    -webkit-animation: bg2 4s infinite alternate;
}


@keyframes bg1 {
    to {
        top: -300px
    }
}


@keyframes bg2 {
    to {
        bottom: -300px
    }
}


#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    stroke: #029643;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#blue {
    fill: none;
    stroke: #047c3c;
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    stroke: #7cfcb5;
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.15;
    }
}

/*
.botonesEmociones {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    
}*/

.botonesEmociones {
    position: absolute;
    display: none;
    margin-top: -300px;
    /* Cambiado a none */
    justify-content: center;
    align-items: center;
    transform: translateY(100vh);
    /* Inicia fuera de la vista */
}

.botonesEmociones-show {
    display: flex;
    /* Cambiado a flex */
    transform: translateY(25vh);
    transition: transform 0.5s ease-in-out;
}


.alegria,
.amor,
.tristeza,
.depresion,
.excitado {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    border: none;
    outline: none;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    font-family: "Rubik";
}

.alegria {
    background-color: #fddd51;
}

.amor {
    background-color: #c97490;
}

.tristeza {
    background-color: #239cff;
}

.depresion {
    background-color: #5a31b9;
}

.excitado {
    background-color: #ec3527;
}

.botonesEmociones .alegria:hover,
.botonesEmociones .amor:hover,
.botonesEmociones .tristeza:hover,
.botonesEmociones .depresion:hover,
.botonesEmociones .excitado:hover {
    transform: scale(1.1);
}

.botonesEmociones .alegria:hover {
    background-color: #fbc02d;
    color: #fff;
    box-shadow: 0 0 50px #fbc02d;
}

.botonesEmociones .amor:hover {
    background-color: #ff6e98;
    color: #fff;
    box-shadow: 0 0 50px #ff6e98;
}

.botonesEmociones .tristeza:hover {
    background-color: #1976d2;
    color: #fff;
    box-shadow: 0 0 50px #1976d2;
}

.botonesEmociones .depresion:hover {
    background-color: #673ab7;
    color: #fff;
    box-shadow: 0 0 50px #673ab7;
}

.botonesEmociones .excitado:hover {
    background-color: #e57373;
    color: #fff;
    box-shadow: 0 0 50px #e57373;
}


.botonesEmociones button {
    background: none;
    border: none;
    color: inherit;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.botonesEmociones .alegria:hover,
.botonesEmociones .amor:hover,
.botonesEmociones .tristeza:hover,
.botonesEmociones .depresion:hover,
.botonesEmociones .excitado:hover {
    transform: scale(1.1);
}

.card-txt {
    color: #fff;
}