<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="all" href="../styles/login.css"/>
</head>
<body>
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
</div>
<div id="forms_container">
    <form id="forms">
        <div id="tittle">
            <h1 style="text-align: center">Iniciar sesión en MoodMixer</h1>
        </div>
        <div>
            <input onclick="landingPage()" type="submit" id="btn_login" value="Iniciar sesión con Spotify"/>
        </div>
    </form>
</div>
</body>
<script>
    function landingPage() {
        const getSpotifyUserLogin = () => {
            fetch("https://localhost:8888/api/login")
                .then(response => response.text())
                .then(response => {
                    window.location.replace = (response);
                })
        }
    }
</script>
<script>
    <script src="https://kit.fontawesome.com/4da517b40d.js" crossOrigin="anonymous"></script>
</script>
</html>